.App {
  text-align: center;
}
.main-page {
  width: 70%;
  margin: 0 auto;
}
.contact-list {
  border: 1px solid black;
}
.contact-list-item {
  padding: 10px;
  border: 1px solid black;
}
.contact-list-item__name {
}
.contact-list-item__username {
  color: rgb(165, 165, 165);
}
.contact-list-item__email {
  color: rgb(131, 131, 131);
}
